#recruitment-widget
  .sb-title recruitment
  .sb-content
    ul
      li
        .icon(class='warrior-#{req.game.recruitment[0]}')
        p(class='recruitment-#{req.game.recruitment[0]}') #{req.game.recruitment[0]}
      li
        .icon(class='lancer-#{req.game.recruitment[1]}')
        p(class='recruitment-#{req.game.recruitment[1]}') #{req.game.recruitment[1]}
      li
        .icon(class='slayer-#{req.game.recruitment[2]}')
        p(class='recruitment-#{req.game.recruitment[2]}') #{req.game.recruitment[2]}
      li
        .icon(class='berserker-#{req.game.recruitment[3]}')
        p(class='recruitment-#{req.game.recruitment[3]}') #{req.game.recruitment[3]}

      li
        .icon(class='sorceror-#{req.game.recruitment[4]}')
        p(class='recruitment-#{req.game.recruitment[4]}') #{req.game.recruitment[4]}
      li
        .icon(class='archer-#{req.game.recruitment[5]}')
        p(class='recruitment-#{req.game.recruitment[5]}') #{req.game.recruitment[5]}
      li
        .icon(class='priest-#{req.game.recruitment[6]}')
        p(class='recruitment-#{req.game.recruitment[6]}') #{req.game.recruitment[6]}
      li
        .icon(class='mystic-#{req.game.recruitment[7]}')
        p(class='recruitment-#{req.game.recruitment[7]}') #{req.game.recruitment[7]}
